<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="Home content">
    <h2> this is home page .please login to admin panel</h2>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>