<nav>
  <div class="site-title">
    <a href="/"><h1>Food|Cort Server</h1></a>
  </div>
  <ul>
    <li><a href="/Kitchen">Food</a></li>
    <li><a href="/Kitchen/create"> Add New </a></li>
  </ul>
</nav>